.prof {
  position: relative;
  top: 150px;
  width: 1200px;
  // background: red;
  margin: 0 300px;
  display: grid;

  .sides {
    // background-color: green;
    border-bottom: 2px solid rgb(102, 102, 104);
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 400px;
    .prf-right {
      margin: 50px 0;
      img {
        width: 200px;
        border-radius: 50%;
      }
    }
    .prf-left {
      width: 500px;
      // background-color: pink;
      display: grid;
      grid-template-rows: 90px 60px 1fr;
      grid-gap: 10px;
      height: 340px;

      .id-name {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items: end;
        .name-1 {
          h1 {
            font-size: 40px;
          }
        }
        .e-p {
          button {
            width: 120px;
            height: 40px;
            text-transform: capitalize;
            border-radius: 5px;
            background: none;
            border: 1px solid lightgray;
            outline: none;
            font-weight: bolder;
            font-size: 18px;
          }
        }
        i {
          font-size: 25px;
          justify-self: start;
          margin: 10px;
        }
      }
      .pff {
        display: grid;
        grid-template-columns: 115px 130px 150px;
        justify-items: start;

        // padding: 10px 0;
        font-size: 20px;
        align-items: center;
      }
      .slogan {
        align-self: center;
        line-height: 30px;
        font-size: 20px;
        h1 {
          font-size: 20px;
        }
      }
    }
  }
  .grids {
    // background: pink;
    display: grid;
    grid-template-rows: 50px 1fr;
    .g-1 {
      width: 850px;
      // background: yellow;
      height: 50px;
      margin: 0 auto;

      h3 {
        float: left;
        margin: 10px 50px;
        text-transform: uppercase;
        font-size: 15px;
        color: gray;
        position: relative;
        left: 70px;
        cursor: pointer;
        i {
          padding: 0 5px;
        }
      }
      h3:hover {
        color: black;
      }
    }
    .g-2 {
      .pic-names {
        // height: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 40px;
        // column-gap: 40px;
        .sli-pic {
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
            height: 380px;
          }
        }
        .lk-cht {
          font-size: 20px;
          position: absolute;
          top: 1px;
          width: 100%;
          // bottom: 400px;
          height: 380px;
          text-align: center;
          color: white;

          overflow: hidden;
          i {
            margin: 0 10px;
            position: relative;
            top: 200px;
            display: none;
          }
          i::before {
            padding: 20px;
          }
        }
        .lk-cht:hover {
          display: inline;
          background: black;
          opacity: 0.5;
          i {
            display: inline;
          }
        }
      }
    }
  }
}
.g-3 {
  height: 100px;
  // background: purple;
  margin: 0 -50px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  .tech {
    align-self: center;

    ul {
      li {
        list-style: none;
        float: left;
        margin: 0 10px;
        text-transform: uppercase;
        color: #013569;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
  .indus {
    color: #999999;
    align-self: center;
    justify-self: end;
    font-size: 12px;
  }
}
